*.o
*.gmo
*.m4
stamp-h1
src/clipit
src/.deps
config.*
configure
intltool-*
missing
install-sh
po/*.sin
po/*.sed
po/*.header
po/.intltool-merge-cache
depcomp
ABOUT-NLS
po/POTFILES
po/Rules-quot
po/stamp-it
autom4te.cache
data/*.desktop
po/Makevars.template
*~
Makefile
Makefile.in
